In [1]:
import pandas
import random
print("Hello WOrld")

Hello WOrld

In [2]:
#NEEDED
filename = "dataset1M.csv"
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)
s = 1000 #desired sample size
skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pandas.read_csv(filename, skiprows=skip)

In [3]:
#NEEDED
df.to_csv('dataset1k.csv')

In [4]:
df.head(5)

                                                 url  label
0  http://ofertsnovasmagazine.com/produtos-loja.p...      1
1                           http://bancoestados.com/      1
2  http://www.startwith1.com/wp-admin/js/send@fil...      1
3  http://pme1.mail.tpimidia.com/cgi-bin/ed/c.pl?...      1
4  http://isense-tech.com/admin/login.php?cmd=log...      1

In [5]:
df.tail(5)

                   url  label
995     yucatan.travel      0
996        mutangc.com      0
997  tacuvehitiyejo.cf      0
998        expertrt.ru      0
999     echo-media.com      0