In [21]:
#Exploratory data analysis packages
import pandas as pd
import numpy as np
import random

# Machine Learning Packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [22]:
dataset=pd.read_csv("finaldataset.csv")

In [23]:
dataset.head(5)

   Unnamed: 0                                                url  label
0           0  http://br14.teste.website/~exclus23/produto/18...      1
1           1  http://www.boutycone.fr/mail/assure_somtc=true...      1
2           2          https://www.stoneville.bfb.asn.au/sign-in      1
3           3       http://radioramamexicali.com/alor/index.html      1
4           4    http://radioramabajio.com/dhll/DHLAUTO/dhl2.htm      1

In [24]:
dataset.tail(5)

       Unnamed: 0                     url  label
49995       49995              boltek.com      0
49996       49996  congressionalaward.org      0
49997       49997              agenet.com      0
49998       49998            celebsrc.com      0
49999       49999      marriagesherpa.com      0

In [25]:
dataset.shape

(50000, 3)

In [26]:
dataset.groupby(by='label').count()

       Unnamed: 0    url
label
0           47290  47290
1            2710   2710

In [27]:
#Check for any missing data. If the output is not 0 then there is a value missing in the data set
dataset.isnull().sum().sum()

0

In [28]:
def makeTokens(f):
    tkns_BySlash = str(f.encode('utf-8')).split('/')	# make tokens after splitting by slash
    total_Tokens = []
    for i in tkns_BySlash:
        tokens = str(i).split('-')	# make tokens after splitting by dash
        tkns_ByDot = []
        for j in range(0,len(tokens)):
            temp_Tokens = str(tokens[j]).split('.')	# make tokens after splitting by dot
            tkns_ByDot = tkns_ByDot + temp_Tokens
        total_Tokens = total_Tokens + tokens + tkns_ByDot
    total_Tokens = list(set(total_Tokens))	#remove redundant tokens
    if 'com' in total_Tokens:
        total_Tokens.remove('com')	#removing .com since it occurs a lot of times and it should not be included in our features
    return total_Tokens
print("Done")

Done

In [29]:
# Labels which indicate if an URL is spam or ham
y = dataset["label"]

In [30]:
y.count()

50000

In [31]:
# Features here are the URLs
url_list = dataset["url"]

In [32]:
url_list.count()

50000

In [33]:
# Using Custom Tokenizer
vectorizer = TfidfVectorizer(tokenizer=makeTokens)

In [34]:
# Store vectors into X variable as Our XFeatures
X = vectorizer.fit_transform(url_list)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Done")

Done

In [39]:
from sklearn.naive_bayes import GaussianNB

# X_train=np.array(X_train)
# y_train=np.array(y_train)

model = GaussianNB()
model.fit(X_train.todense(), y_train)

MemoryError:

In [ ]:
# Accuracy of Our Model Using Test Data
print("Accuracy ",model.score(X_test, y_test))

In [ ]:
# Accuracy of Our Model Using Train Data
print("Accuracy ",model.score(X_train, y_train))

In [ ]:
X_predict1 = ["https://www.google.com", 
"https://www.pes.edu","www.buyfakebillsonlinee.blogspot.com", 
"www.unitedairlineslogistics.com"]

In [ ]:
X_predict1 = vectorizer.transform(X_predict1)
New_predict1 = model.predict(X_predict1)
print(New_predict1)

In [ ]:
from sklearn.metrics import confusion_matrix

predicted = model.predict(X_test)
matrix = confusion_matrix(y_test, predicted)
print(matrix)

In [ ]:
from sklearn.metrics import classification_report

report = classification_report(y_test, predicted)

print(report)

In [ ]:
# Visualization Packages
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
matrix

In [ ]:
plt.figure(figsize=(20,10))

In [ ]:
# Confusion Matrix Graph With Seaborn
sns.heatmap(matrix,annot=True)
plt.show()

In [ ]:
# Setting formate to integer with "d"
sns.heatmap(matrix,annot=True,fmt="d")
plt.show()

In [ ]:
# Plot with Labels

plt.title('Confusion Matrix ')

sns.heatmap(matrix,annot=True,fmt="d")
# Set x-axis label
plt.xlabel('Predicted Class')
# Set y-axis label
plt.ylabel('Actual Class')
plt.show()