In [11]:
import pandas
import random
print("Hello WOrld")

Hello WOrld

In [12]:
#NEEDED
filename = "dataset1M.csv"
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)
s = 25000 #desired sample size
skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pandas.read_csv(filename, skiprows=skip)

In [13]:
#NEEDED
df.to_csv('dataset25k.csv')

In [14]:
df.head(5)

                                                 url  label
0  http://www.boutycone.fr/mail/assure_somtc=true...      1
1  http://hareherhahrfhfdhxmexico.com/BankOfAmerica/      1
2  https://dantecar.com/wellsfargo.com.avuo/Wells...      1
3  https://dantecar.com/wellsfargo.com.avuo/Wells...      1
4                      https://www.steampavered.com/      1

In [15]:
df.tail(5)

                            url  label
24995          prophetstory.com      0
24996        ifsudestemg.edu.br      0
24997         zootsolutions.com      0
24998  motherincestdaughter.com      0
24999         parkinsons.org.au      0